<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Name : <%=post.name%></h1>
    <h3>Commend: <%=post.comment%></h3>
    <h3>Age: <%=post.age%></h3>
    <h3>Gender: <%=post.gender%></h3>
</body>
</html>